@model FoodMVCWebApp.Models.DishDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe" class="control-label"></label>
                <textarea asp-for="Recipe" class="form-control"></textarea>
                <span asp-validation-for="Recipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="CategoryName" class="control-label">@Html.DisplayNameFor(model => model.CategoryId)</label>
                <input type="text" id="CategoryName" class="form-control" value="@ViewData["CategoryTitle"]" />
                <input type="hidden" asp-for="CategoryId" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label for="DifficultyLevelName" class="control-label">@Html.DisplayNameFor(model => model.DifficultyLevelId)</label>
                <input type="text" id="DifficultyLevelName" class="form-control" value="@ViewData["DifficultyLevelName"]" />
                <input type="hidden" asp-for="DifficultyLevelId" />
                <span asp-validation-for="DifficultyLevelId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="CuisineCountryTypeName" class="control-label">@Html.DisplayNameFor(model => model.CuisineCountryTypeId)</label>
                <input type="text" id="CuisineCountryTypeName" class="form-control" value="@ViewData["CuisineCountryTypeName"]" />
                <input type="hidden" asp-for="CuisineCountryTypeId" />
                <span asp-validation-for="CuisineCountryTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>$(document).ready(function () {
            CategoryAutocomplete();
            DifficultyLevelAutocomplete();
            CuisineCountryTypeAutocomplete();
        })</script>
}
