@model IEnumerable<FoodMVCWebApp.Entities.Dish>

@{
    ViewData["Title"] = "Dishes";
}

<h1>@ViewData["Title"]</h1>

<div class="container ">
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2  text-center">
        @foreach (var item in Model)
        {
            <div class="col mb-2">
                <div class="card border-dark">
                    <div class="card-header">
                        <h5 class="mt-2">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </div>
                    <div class="card-body p-2 pb-3">
                        <p><img style="max-height: 100px;" src="@(ViewData["ImageStoragePath"] + "/" + item.Image)" asp-append-version="true"></p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(modelItem => item.Category.Title)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.DifficultyLevel): @Html.DisplayFor(modelItem => item.DifficultyLevel.Name)</p>
                        <p class="card-text">@Html.DisplayNameFor(model => model.CuisineCountryType): @Html.DisplayFor(modelItem => item.CuisineCountryType.Name)</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Delete</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
